@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
html {
  font-size: 16px;
}

@media (max-width: 1114px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 4px;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.containerCustom {
  max-width: 1332px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

#loading {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  transition: 2s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -100;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 100;
  height: 100;
  margin: 8px;
  box-sizing: border-box;
  border: 48px solid #fff;
  border-color: #BB2339 transparent #BB2339 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.nav__b {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
  transition: 0.4s ease-in-out;
  background-color: #bb2339;
  z-index: 10000;
}
.nav__b .navbar {
  background-color: transparent;
  transition: 0.4s ease-in-out;
  padding-top: 26px;
  padding-bottom: 26px;
}
.nav__b .navbar .nav__links .nav-item a {
  transition: 0.3s ease-in-out;
}
.nav__b .navbar .nav__links .nav-item a:hover {
  box-shadow: 0px 1px white;
}
.nav__b .navbar .nav-item:last-child a {
  border: 1px solid white !important;
  padding: 10px 40px;
  border-radius: 30px;
}
.nav__b .navbar .nav-item:last-child a:hover {
  background-color: white;
  color: #bb2339 !important;
}
.nav__b .navbar .cust-toogle {
  display: none;
  border: none;
  color: white;
}
.nav__b .navbar .offcanvas .offcanvas-header {
  background-color: #bb2339;
}
.nav__b .navbar .offcanvas .offcanvas-body {
  background-color: #bb2339;
}
.nav__b .navbar .offcanvas .offcanvas-body ul {
  width: 100%;
  padding-left: 15px;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li {
  width: 100%;
  border-left: 2px solid white;
  padding-left: 20px;
  transition: 0.3s ease-in-out;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li a {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:hover {
  background-color: white;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:hover a {
  color: #bb2339 !important;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:last-child {
  border-left: none;
  width: 150px;
  padding-left: 0px;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:last-child a {
  display: flex;
  justify-content: center;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:last-child:hover {
  background-color: transparent;
}
.nav__b .navbar .offcanvas .offcanvas-body ul li:last-child:hover a {
  background-color: white;
}
@media (max-width: 1000px) {
  .nav__b .navbar .cust-toogle {
    display: block;
  }
  .nav__b .navbar .nav__links {
    display: none;
  }
}

.navbar-shrink {
  box-shadow: 3px 3px 10px white;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 80px;
  height: 80px;
  z-index: 10000;
}
.navbar-shrink .navbar {
  padding-top: 16px;
  padding-bottom: 16px;
}

#body__index {
  font-family: "Cera Round Pro", sans-serif;
}

#home_page__home {
  padding-top: 180px;
  padding-bottom: 2000px;
  background-color: #bb2339;
}
@media (max-width: 850px) {
  #home_page__home {
    padding-top: 120px;
  }
}
#home_page__home .container-xxl .row {
  display: flex !important;
  justify-content: space-between !important;
}
#home_page__home .container-xxl .row .home_page__left {
  padding-left: 24px;
}
#home_page__home .container-xxl .row .home_page__left p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 130%;
  color: white;
}
#home_page__home .container-xxl .row .home_page__left h1 {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: white;
  margin-top: 25px;
  margin-bottom: 20px;
}
#home_page__home .container-xxl .row .home_page__left span {
  font-size: 1.2rem;
  opacity: 0.7;
  color: white;
}
@media (max-width: 850px) {
  #home_page__home .container-xxl .row .home_page__left {
    padding-left: 5rem;
  }
}
#home_page__home .container-xxl .row .home_page__right img {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
