@use "../abstracts/variables";
@use "../abstracts/mixins";
// colors
$bgcolor-navbar: #BB2339;

header {
  .for-bg {
    background-color: $bgcolor-navbar;
    nav {
      background-color: $bgcolor-navbar !important;  
      .container-fluid {
        background-color: $bgcolor-navbar;
      }
    }
  }
}