@use "../abstracts/variables";
@use "../abstracts/mixins";
// colors
$bgcolor-navbar: #bb2339;

#body-index {
  background-color: $bgcolor-navbar;
  padding-bottom: 500px;
  .navbar {
    background-color: #bb2339 !important;
  }
}
.navbar {
  .cust-toogle {
    display: none;
    border: none;
    color: white;
  }
  padding-top: 26px !important;
  padding-bottom: 26px !important;
  .offcanvas {
    .offcanvas-header {
      background-color: #bb2339;
    }
    .offcanvas-body {
      background-color: #bb2339;
    }
  } 
  @media (max-width: 1000px) {
    .cust-toogle {
      display: block ;
    }
    .nav__links {
      display: none;
    }
  }
}
