@use "../abstracts/variables";
@use "../abstracts/mixins";
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
$primary-bgcolor: #bb2339;
$white: white;
$sec2bg: #f8f8f8;
$carouselBtn: #646464;
$black: black;
#body__index {
  font-family: "Cera Round Pro", sans-serif;
}
#home_page__home {
  .container-xxl {
    .row {
      display: flex !important;
      justify-content: space-between !important;
      .home_page__left {
        padding-left: 24px;
        p {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 130%;
          color: $white;
        }
        h1 {
          font-weight: 700;
          font-size: 5.625rem;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: $white;
          margin-top: 25px;
          margin-bottom: 20px;
        }
        span {
          font-size: 1.2rem;
          opacity: 0.7;
          color: $white;
        }
        .explore__more {
          display: block;
          margin-top: 32px;
          border-radius: 30px;
          padding: 10px 30px;
          border: 1px solid $white;
          color: $white;
          transition: 0.3s ease-in-out;
          background-color: transparent;
          &:hover {
            background-color: $white;
            color: $primary-bgcolor;
          }
        }
      }
      .home_page__right {
        img {
          max-width: 100%;
        }
      }
      @media (max-width: 1106px) {
        display: flex;
        flex-direction: column;
        .home_page__right {
          padding-top: 40px;
          img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      @media (max-width: 580px) {
        .home_page__left {
          h1 {
            font-size: 4rem;
          }
        }
      }
      @media (max-width: 420px) {
        .home_page__left {
          h1 {
            font-size: 3.5rem;
          }
        }
      }
      @media (max-width: 380px) {
        .home_page__left {
          h1 {
            font-size: 3.1rem;
          }
        }
      }
    }
  }
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: $primary-bgcolor;
}
#home__menu {
  background-color: $sec2bg;
  .container-xxl {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #sec-2-last {
    width: 93px;
    position: absolute;
    right: 50px;
    bottom: -46.5px;
  }
  .carousel__caption {
    h3 {
      color: $primary-bgcolor;
      font-weight: 500;
      font-size: 48px;
      margin-bottom: 40px;
    }
  }
  .carousel__contents {
    position: relative;
    .staff-list .owl-nav button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-color: $carouselBtn;
      color: $carouselBtn;
      border-radius: 6px;
      background-color: transparent;
      width: 40px !important;
      height: 40px !important;
      margin-left: 10px;
      transition: 0.3s ease-in-out;
      position: absolute;
      &:hover {
        color: $black;
        border-color: $primary-bgcolor;
      }
    }
    .staff-list .owl-nav button:first-child {
      top: -70px;
      right: 60px;
    }
    .staff-list .owl-nav button:last-child {
      top: -70px;
      right: 0px;
    }
    .owl-carousel {
      .single-staff-item {
        padding-top: 20px;
        padding-bottom: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
        border-top: 1px solid transparent;
        &:hover {
          border-bottom: 3px solid $primary-bgcolor;
          border-top: 1px solid $primary-bgcolor;
        }
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        .staff-meta {
          p {
            margin-top: 10px;
          }
          img {
            margin-top: 20px;
            height: 20px;
            background-color: transparent;
            margin-bottom: 20px;
          }
          h5 {
            color: $primary-bgcolor;
            font-weight: 700;
            font-size: 24px;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  @media (max-width: 850px) {
    .single-staff-item {
      padding: 0 !important;
      padding: 10px !important;
      .staff-meta {
        p {
          font-size: 12px;
        }
        img {
          height: 15px !important;
        }
        h5 {
          font-size: 24px;
        }
      }
    }
    .single-staff-item * {
      padding: 0 !important;
      margin: 0 !important;
    }

    & .carousel__caption {
      h3 {
        font-size: 32px;
      }
    }
    & .container-xxl {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
  }
  @media (max-width: 500px) {
    .single-staff-item {
      padding: 0 !important;
      padding: 10px !important;
      .staff-meta {
        p {
          font-size: 5px;
          width: 100% !important;
        }
        img {
          height: 10px !important;
        }
        h5 {
          font-size: 16px !important;
        }
      }
    }
    .single-staff-item * {
      padding: 0 !important;
      margin: 0 !important;
    }

    & .carousel__caption {
      h3 {
        font-size: 30px;
      }
    }
  }
}

#home__tab_menu {
  background-color: $white;
  padding-top: 500px;
  padding-bottom: 2000px;
}
