@use "../abstracts/variables";
@use "../abstracts/mixins";
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
$primary-bgcolor: #bb2339;
$white: white;
$sec2bg: #f8f8f8;
#body__index {
  font-family: "Cera Round Pro", sans-serif;
}
#home_page__home {
  .container-xxl {
    .row {
      display: flex !important;
      justify-content: space-between !important;
      .home_page__left {
        padding-left: 24px;
        p {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 130%;
          color: $white;
        }
        h1 {
          font-weight: 700;
          font-size: 5.625rem;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: $white;
          margin-top: 25px;
          margin-bottom: 20px;
        }
        span {
          font-size: 1.2rem;
          opacity: 0.7;
          color: $white;
        }
        .explore__more {
          display: block;
          margin-top: 32px;
          border-radius: 30px;
          padding: 10px 30px;
          border: 1px solid $white;
          color: $white;
          transition: 0.3s ease-in-out;
          background-color: transparent;
          &:hover {
            background-color: $white;
            color: $primary-bgcolor;
          }
        }
      }
      .home_page__right {
        img {
          max-width: 100%;
        }
      }
      @media (max-width: 1106px) {
        display: flex;
        flex-direction: column;
        .home_page__right {
          padding-top: 40px;
          img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      @media (max-width: 580px) {
        .home_page__left {
          h1 {
            font-size: 4rem;
          }
        }
      }
      @media (max-width: 420px) {
        .home_page__left {
          h1 {
            font-size: 3.5rem;
          }
        }
      }
      @media (max-width: 380px) {
        .home_page__left {
          h1 {
            font-size: 3.1rem;
          }
        }
      }
    }
  }
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: $primary-bgcolor;
}

#home__menu {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $sec2bg;
  .carousel__caption {
    h3 {
      color: $primary-bgcolor;
      font-weight: 500;
      font-size: 48px;
      margin-bottom: 40px;
    }
  }
  .carousel__contents {
    .owl-carousel {
      .single-staff-item {
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        .staff-meta {
          img {
            height: 20px;
            background-color: transparent;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
