$black: black;
$white: white;
$sec2bg: #f8f8f8;
$carouselBtn: #646464;
$testimony-bg: #f4f4f4;
$tab-card-border: #e9e9e9;
$primary-bgcolor: #bb2339;
#news__main {
  #home__news {
    padding-bottom: 160px;
    .news__caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 500;
        font-size: 64px;
        color: $black;
        margin-bottom: 10px;
      }
      img {
        margin-bottom: 60px;
      }
    }
    .new__btn {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        background-color: transparent;
        display: inline-block;
        padding: 10px 32px;
        border: 1px solid $primary-bgcolor;
        border-radius: 100px;
        color: $primary-bgcolor;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: $primary-bgcolor;
          color: $white;
        }
      }
    }
  }
}
